/* General Styles */
* {
    margin: 0;   	
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
#logo{
    width: 200%;
    border-radius: 50px;
    
}

/* Header */
header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d9d6b9;
    border-bottom: 2px solid #ddd;
}
.header img{
    width: 20px;
    height: 20px;
    border-radius: 50px;

}
.Business {
  
    background-color: red;
    border-radius: 50px;
    padding: 10px;
    color: rgb(255, 255, 255);
}
.slideshow {
    position:relative ;
    width: 100%;
    height: 500px; /* Set the height as per your need */
}

.slideshow img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: changeImage 15s infinite;
}

.slideshow img:nth-child(1) {
    animation-delay: 10s;
}

.slideshow img:nth-child(2) {
    animation-delay: 5s;
}

.slideshow img:nth-child(3) {
    animation-delay: 5s;
}

/* Keyframes for changing the image */
@keyframes changeImage {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.side{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.list{
   
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  
    /* justify-content: right; */
}
.logo img {
    width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Terms and Conditions Section */
.terms-section {
    text-align: center;
    padding: 40px;
    background-color: #fff;
}

h2 {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}

.btn-red {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

/* Product Listing Section */
.product-list {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #e3e2d7;
}
.product-list button{
    position: relative;
    top: -250px;justify-content: space-around;
    right: 500px;
    padding: 10px;
    margin: 15px;
    border-radius: 50px;
    background: #ea1917;
    border-color: #ea1917;
    color: #fff;
}
/* :hover .product-list button{
    color: black;
    background-color: white;
    
} */


.tab-menu {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.tab-menu a {
    margin: 0 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    border-bottom: 2px solid transparent;
}

.tab-menu a.active {
    border-bottom: 2px solid #e60000;
}

.tab-menu a:hover {
    border-bottom: 2px solid #cc0000;
}

/* Product grid */
.product-list1 {
    justify-content: space-around;
    background-color: #d9d6b9;
    /* max-width: 1200px; */
    margin: 0 ;
    padding: 20px;
}

.product-grid {
    background-color: #d9d6b9 ;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 40px;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.product-card .price {
    font-size: 22px;
    color: #e60000;
    font-weight: bold;
}

.product-card .old-price {
    text-decoration: line-through;
    color: #666;
    margin-bottom: 10px;
}

.product-card .discount {
    color: #e60000;
}

.product-card .emi {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-card .buy-btn {
    background-color: #e60000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.product-card .buy-btn:hover {
    background-color: #ffffff;
    border-color: rgb(0, 0, 0);
    color: #000;
    border-radius: 40px ;
}

.product-card .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e60000;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.product-card .rating {
    font-size: 14px;
    margin: 5px 0;
    color: #666;
}
.product-list1 h1 {
    text-align: left;
    margin: 20px 0;
    font-size: 24px;
}
.highlight-story{
    background-color: #d9d6b9 ;
    padding: 30px;
}
.highlight-story h1 {
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    font-size: 40px;
    margin: 20px 0;
    color: #000000;
}

.tab-menu2 {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    
}

.tab-menu2 a {
    margin: 0 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.tab-menu2 a.active {
    border-bottom: 2px solid #e60000;
}

.tab-menu2 a:hover {
    border-bottom: 2px solid #e60000;
}

/* Carousel Section */
.carousel {
    position: relative;
    width: 100%;
    
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.carousel-slide {
    position: relative;
  
    height: 500px;
    width: 100%px;
    background-color: #ddd;
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-text {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}

.carousel-text h2 {
    color: white;
    font-size: 28px;
    /* margin-bottom: 10px; */
}

.learn-more-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
}

.learn-more-btn:hover {
    color: white;
    background-color: #cc0000;
}

/* Highlight Products Section */
.highlight-products {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product-card2 {
    /* background-color: transparent; */
    border: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 0 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card2 img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-card2 h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card2 p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.product-card2 .learn-more-btn {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
}

.product-card2 .learn-more-btn:hover {
    color: white;
    background-color: #cc0000;
}

.help-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.help-section p {
    text-align: center;
    font-size: 16px;
    color: #666;
}

/* LG Member Section */
.lg-member {
    background-color: #d9d6b9;
    padding: 40px ;
    text-align: left;
}

.member-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 40px;    
}
.member-cards img{
    padding: 20px;

}

.member-cards .card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 2000px;
}

.member-cards h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.member-cards p {
    font-size: 14px;
    color: #666;
}
.member-actions1{
    display: flex;
    justify-content: space-between;
}

.member-actions {
    
    padding: 10px;
    margin-top: 10px;
}

.btn-signin{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px ;
    font-size: 20px;
    border-radius: 40px;
    margin: 5px;
    cursor: pointer;
}
.btn-joinus {
    background-color: #e60000;
    color: white;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 40px;
    margin: 5px;
    cursor: pointer;
}

.btn-signin:hover{
    background-color: #e60000;
    color: white;
    border-color: rgb(255, 0, 0);
}
.btn-joinus:hover {
    color: #000;
    border-color: #ffffff;
    background-color: #fbfbfb;
}

/* Need Help Section */
.help-section {
    background-color: #d9d6b9;
    
    padding: 40px;
    text-align: left;
}

.help-cards {
    display: flex;
    justify-content:center ;
    flex-wrap:wrap ;
    padding: 80px;
    gap: 40px;
    margin-top: 20px;
}

.help-card {
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;  
}
.help-card img{
    padding: 30px;
    justify-content: center;
}
.help-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
}

.help-card p {
    font-size: 14px;
    color: #666;
}

.help-card a {
    position:absolute ;
    padding: 3px;
    right: 10px;
    bottom: 260px;
    font-size: 24px;
    text-decoration: none;
    color: #e60000;
    background-color: rgb(255, 255, 255);
    border-radius: 90px;
}

.help-card a:hover {
    color: #ffffff;
    background-color: red;
}


 #images{
  
    position: absolute;
    text-align: center;
    top:100px ;
    left: 600px;
 }
#image{
    position: absolute;
    top: 200px;
    padding: 60px;
}
#image1{
    padding: 60px;
    position: absolute;
    top: 260px;
}
#homeimg{
    width: 1400px;
}

.footer h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.category-navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.category-navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.list img{
    width: 30%;
    border-radius: 50px;
    display: grid;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}

.footer{
    
        /* margin: 10px; */
        padding: 30px;
        box-sizing: border-box;

    
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}


.footer-copyright {
    font-size: 16px;
    color:#aaa;
}

.btn-add {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.footer-copy{
    background-color: #241902;
}
.footer-links {
    background-color: #241902;
    padding: 40px 0;
    font-size: 14px;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    width: 150px;
    margin-bottom: 20px;
}

.footer-column h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.footer-bottom p {
    margin-bottom: 10px;
}

.social-icons a {
    margin:  10px;
    display: flexbox;
    justify-content: right;
}

.social-icons img {
    width: 24px;
    height: 24px;
}


.footer-links {
    margin-bottom: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links span {
    color: #aaa;
}

.footer-copyright {
    background-color: #241902;
    padding: 20px;
    margin-top: 50px;

}

.footer-copyright p {
    margin-bottom: 5px;
}

.footer a {
    color: #ddd;
}

.footer a:hover {
    text-decoration: underline;
}